@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


    <h2>Register</h2>
<form id="register-form" asp-action="Register" asp-controller="Register" method="post">
        <div class="input-group">
            <input type="text" id="register-name" required placeholder=" " autocomplete="name" name="Name" class="form-control">
            <label for="register-name">Name</label>
        </div>
        <div class="input-group">
            <input type="email" id="register-email" required placeholder=" " autocomplete="email" name="Email" class="form-control">
            <label for="register-email">Email</label>
        </div>
        <div class="input-group">
            <input type="password" id="register-password" required placeholder=" " autocomplete="new-password" name="PasswordHash" class="form-control">
            <label for="register-password">Password</label>
        </div>
        <div class="input-group">
            <select id="register-role" name="Role" required class="form-control">
                <option value="">Select Role</option>
                <option value="Doctor">Doctor</option>
                <option value="Patient">Patient</option>
            </select>
            <label for="register-role">Role</label>
        </div>
        <div id="role-extra-fields"></div>
        <button type="submit" class="btn">Register</button>
    </form>
    <p class="switch-link">Already have an account? <a asp-controller="Login" asp-action="Login">Login</a></p>


